<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--!&#45;&#45;设置启用数据库字段下划线映射到java对象的驼峰式命名属性，默认为false&ndash;&gt;-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <!--表示命名空间是com.yl.pojo-->
        <package name="com.yl.pojo"/>

    </typeAliases>
    <!-- 数据库配置 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://127.0.0.1:3306/task1?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC&amp;useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 映射Student.xml地址 -->
    <mappers><!-- resource路径用 斜线（/） 分割，而不是用 点(.) mybatis的mapper文件，每个xml配置文件对应一个接口 -->
        <mapper class="com.yl.mapper.StudentMapper"/>

    </mappers>

</configuration>