body{
    margin: 0;
    background-color: #fafafa;
}
.text-box {
    display: none;
    padding-right: 15px;
}
@media screen and (max-width: 780px){
    .text-box {
        display: block;
    }
    .head-box {
        display: none;
    }
}
.head-box{
    margin: 0px 25px 2px 0px;
}
.head-bot{
    background-color: #26a26f;
}
.pho-img{
    padding: 0;
}
.nav-link{
    padding: 0;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
}
.nav-link:hover{
    border-bottom: 2px solid white;
}
.text-bot{
    justify-content: flex-end;
}
.pho-bot{
    color: white;
}
.carousel-indicators li{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin: 2px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid #ffffff;
}
.main-box{
    height: 10vw;
}
.small-big{
    text-align: -webkit-center;
}

.text-one{
    color:#999999;
}
.main-one{
    height: 2vw;
}
.main-two{
    border-left: 1px dashed #dedede;
}
.text-two{
    align-items: center;
}
.text-ten{
    height: 15vw;
}
.text-small{
    padding-top: 5vw;
}
.text-big{
    font-size: 20px;
}
.box-io{
    padding-top: 1vw;
}
.small-pig{
    margin-bottom: 10px;
}
.big-box{
    min-width: 50px;
    height: 50px;
    text-align: center;
    color: #29b078;
    line-height: 50px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 50px;
}
.sp-box{
    font-size: 13px;
    color: #b3b3b3;
    padding-left: 10px;
}
.im-big{
    width: 5rem;
    padding-top: 3rem;
}
.main-he{
    height: 5vw;
    justify-content: center;
    align-items: center
}
.one{
    width: 10px;
    height: 10px;
    background: #ECECEC;
    border-radius: 50px;
    margin: 2px;
}
.one:hover{
    background-color: #29b078;
}
.wh-sm{
    justify-content: space-between;
}
.wh-box{
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}
.wh-box:hover{
    box-shadow:0 0 2px 3px #a3a3a3;
}
.box-id{
    height: 10vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-i{
    background-color: white;
}
.text{
     text-align: center;
    justify-content: space-between;
    color: #b3b3b3;
    font-size: 12px;
    margin: 0 auto;
 }
.t-small{
    display: flex;
    justify-content: center;
    align-items: center;
}
.t-small:hover{
    text-decoration:underline;
}
.red-box{
    background-color: #26a26f;
}
.red-ji{
    display: block;
    padding-top: 20px;
    color: white;
    font-size: 12px;
}
.red-gan{
    display: block;
    padding-top: 30px;
    color: white;
    font-size: 12px;
}
.red-gan:hover{
    text-decoration:underline;
}
.red-cao{
    display: block;
    padding-top: 15px;
    color: white;
    font-size: 12px;
    margin-right: 10px;
}
.red-cao:hover{
    text-decoration:underline;
}
.red-pu{
    display: block;
    padding-top: 15px;
    color: white;
    font-size: 12px;
    margin-right: 10px;
}
.red-wei{
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
    color: white;
    font-size: 12px;
}
.red-tu{
    display: block;
    height: 75px;
}
.red-pu:hover{
    text-decoration:underline;
}
.footer-box{
    border-top: 1px solid white;
    margin-top: 10px;
}
.footer-bot{
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: white;
}
